<form [formGroup]="queryForm" (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <td><label for="forwarder">Forwarder:</label></td>
        <td>
          <select id="forwarder" formControlName="forwarder">
            <option value="" disabled>Select a forwarder</option>
            <option value="DHL">DHL</option>
            <option value="FedEx">FedEx</option>
            <option value="UPS">UPS</option>
          </select>
          <div *ngIf="queryForm.get('forwarder')?.invalid && queryForm.get('forwarder')?.touched">
            <small style="color: red;">Forwarder is required.</small>
          </div>
        </td>
      </tr>
  
      <tr>
        <td><label for="zipCode">Zip Code:</label></td>
        <td>
          <input id="zipCode" type="text" formControlName="zipCode" />
          <div *ngIf="queryForm.get('zipCode')?.invalid && queryForm.get('zipCode')?.touched">
            <small style="color: red;">Enter a valid 5-digit Zip Code.</small>
          </div>
        </td>
      </tr>
  
      <tr>
        <td><label for="city">City:</label></td>
        <td>
          <input id="city" type="text" formControlName="city" />
          <div *ngIf="queryForm.get('city')?.invalid && queryForm.get('city')?.touched">
            <small style="color: red;">City is required.</small>
          </div>
        </td>
      </tr>
  
      <tr>
        <td><label for="county">County:</label></td>
        <td>
          <input id="county" type="text" formControlName="county" maxlength="2" />
          <div *ngIf="queryForm.get('county')?.invalid && queryForm.get('county')?.touched">
            <small style="color: red;">County must be exactly 2 characters.</small>
          </div>
        </td>
      </tr>
  
      <tr>
        <td><label for="length">Length:</label></td>
        <td>
          <input id="length" type="number" formControlName="length" />
          <div *ngIf="queryForm.get('length')?.invalid && queryForm.get('length')?.touched">
            <small style="color: red;">Enter a valid length (min 1).</small>
          </div>
        </td>
      </tr>
  
      <tr>
        <td><label for="width">Width:</label></td>
        <td>
          <input id="width" type="number" formControlName="width" />
          <div *ngIf="queryForm.get('width')?.invalid && queryForm.get('width')?.touched">
            <small style="color: red;">Enter a valid width (min 1).</small>
          </div>
        </td>
      </tr>
  
      <tr>
        <td><label for="weight">Weight:</label></td>
        <td>
          <input id="weight" type="number" formControlName="weight" />
          <div *ngIf="queryForm.get('weight')?.invalid && queryForm.get('weight')?.touched">
            <small style="color: red;">Enter a valid weight (min 1).</small>
          </div>
        </td>
      </tr>
  
      <tr>
        <td><label for="adr">ADR:</label></td>
        <td>
          <input id="adr" type="checkbox" formControlName="adr" />
        </td>
      </tr>
  
      <tr>
        <td colspan="2">
          <button type="submit" [disabled]="queryForm.invalid">Confirm</button>
        </td>
      </tr>
    </table>
  </form>
  
  <!-- Display shipment cost details after submission -->
  <div *ngIf="shipmentCostDetails">
    <h3>Shipment Cost Details:</h3>
    <table border="1">
      <tr><td>Cost</td><td>{{ shipmentCostDetails.cost }}</td></tr>
      <tr><td>Base Cost</td><td>{{ shipmentCostDetails.baseCost }}</td></tr>
      <tr><td>Fuel Surcharge</td><td>{{ shipmentCostDetails.fuelSurcharge }}</td></tr>
      <tr><td>Additional Costs</td><td>{{ shipmentCostDetails.additionalCosts }}</td></tr>
      <tr><td>Disadvantage Location</td><td>{{ shipmentCostDetails.disadvantageLocation }}</td></tr>
      <tr><td>ADR</td><td>{{ shipmentCostDetails.adr }}</td></tr>
      <tr><td>Oversize</td><td>{{ shipmentCostDetails.oversize }}</td></tr>
    </table>
  </div>
  